<!DOCTYPE html>
<html ng-app="provasApp">
<head lang="pt-BR">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="avalia-versao" content="1417631354587" />

    <title>Index</title>

    <script type="text/javascript" src="../js/plugins/jquery/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.prettycheckable/prettycheckable.js"></script>
    <script type="text/javascript" src="../scripts/jquery.easypiechart/jquery.easypiechart.js"></script>
    <script type="text/javascript" src="../js/plugins/jquery/jquery.mask.min.js"></script>
    <script type="text/javascript" src="../js/plugins/parse-1.3.0.min.js"></script>
    <script type="text/javascript" src="../js/plugins/toastr/2.0.1/toastr.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script type="text/javascript" src="../js/plugins/angular-ui-router/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../js/plugins/angular-ui-grid/ng-grid.js"></script>

    <script type="text/javascript" src="../js/utils/processados/routeController_1417631354587.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" media="all">
    <link href="../fonts/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href='../scripts/jquery.prettycheckable/prettycheckable.css' rel='stylesheet' type='text/css' media="all"/>
    <link href='../scripts/jquery.easypiechart/easypiechart.css' rel='stylesheet' type='text/css' media="all" />
    <link href='../scripts/jquery.toggles/toggles.css' rel='stylesheet' type='text/css' media="all"/>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en" ></script>
    <link href='../js/plugins/toastr/2.0.1/toastr.css' rel='stylesheet' type='text/css' media="all"/>

    <!-- Google Chart -->
    <script type="text/javascript" src="../js/plugins/google-chart/ng-google-chart.js"></script>

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet" media="all">

    <!-- Angular Grid CSS-->
    <link href="../js/plugins/angular-ui-grid/ng-grid.min.css" rel='stylesheet' type='text/css' media="all"/>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="alterarPagina('dashboard', '#Content')">
            <h1 class="logo">Mais<span class="logo2">Avalia</span></h1>
            <!--<img src="../../images/logo.png" alt="" />-->
            <span id="sidebar-exp"></span>
        </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav navbar-right header-drop-right" style="margin-right: 0px;">
            <li class="dropdown user-dropdown-one">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{usuarioLogado.nome}}
                    <img src="{{usuarioLogado.urlPicture}}" alt="" class="img-user" style="height: 58px;"/>
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu user-dropdown-two">
                    <li><a href="#">Configurações</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li class="log-out"><a href="#">Log out</a></li>
                </ul>
            </li>
        </ul>

    </div><!-- /.navbar-collapse -->
</nav>

<div id="wrapper" class="sidebar">

    <div id="body-overlay"></div>

    <div id="sidebar">

        <ul class="drop-area">
            <li style="margin-bottom: 30px" class="no-back">
                <h2>{{turmaSelecionada.serie+' '+turmaSelecionada.turma}}</h2>
            </li>

            <!--<div class="btn-group" style="margin: 0 30px">-->
                <!--<button style="width: 145px" type="button" class="btn btn-default dropdown-toggle button-dropdown" data-toggle="dropdown">-->
                    <!--{{turmaSelecionada.serie+' '+turmaSelecionada.turma}}&nbsp;&nbsp;<span class="caret space"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu blue" role="menu">-->
                    <!--<li class="ng-scope" ng-repeat="turma in turmas">-->
                        <!--<a ng-click="TURMA.selecionarTurmaCarometro(turma)" ui-sref="dashboard">{{turma.serie+' '+turma.turma}}</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <li class="no-back">
                <a ui-sref="dashboard">Dashboard</a>
            </li>
            <li class="no-back ng-scope">
                <a ui-sref="tiposAvaliacoesLancamento({idTurma: turmaSelecionada.id})">Lançamentos</a>
                <!--<ul>-->
                <!--<li class="ng-scope" ng-repeat="turma in turmas">-->
                <!--<span class="icn icon-145"></span>-->
                <!--<a ui-sref="tiposAvaliacoesLancamento({idTurma: '{{turma.id}}'})" ng-click="TURMA.selecionarTurmaCarometro(turma)">{{turma.serie+' '+turma.turma}}</a>-->
                <!--</li>-->
                <!--</ul>-->
            </li>
            <li class="no-back">
                <a ui-sref="tiposAvaliacoes({idTurma: turmaSelecionada.id})">Evolução da Turma</a>
                <!--<ul>-->
                <!--<li class="ng-scope" ng-repeat="turma in turmas">-->
                <!--<span class="icn icon-123"></span>-->
                <!--<a  ng-click="TURMA.selecionarTurmaCarometro(turma)">{{turma.serie+' '+turma.turma}}</a>-->
                <!--</li>-->
                <!--</ul>-->
            </li>
            <li class="no-back">
                <a ui-sref="carometro({idTurma: turmaSelecionada.id})">Evolução dos Alunos</a>
                <!--<ul>-->
                <!--<li class="ng-scope" ng-repeat="turma in turmas">-->
                <!--<span class="icn icon-123"></span>-->
                <!--<a ui-sref="carometro({idTurma: '{{turma.id}}'})" ng-click="TURMA.selecionarTurmaCarometro(turma)">{{turma.serie+' '+turma.turma}}</a>-->
                <!--</li>-->
                <!--</ul>-->
            </li>
            <li>
                Administrativo
                <ul>
                    <li style="display: none" id="noPermissionM">
                        <a>Não possui permissão para essa área.</a>
                    </li>
                    <li style="display: none" id="cadEscola">
                        <span class="icn icon-190"></span>
                        <a>Cadastro de Escola</a>
                    </li>
                    <li style="display: none" id="cadTurma">
                        <span class="icn icon-123"></span>
                        <a>Cadastro de Turma</a>
                    </li>
                    <li style="display: none" id="cadAluno">
                        <span class="icn icon-124"></span>
                        <a>Cadastro de Aluno</a>
                    </li>
                    <li style="display: none" id="cadProfessor">
                        <span class="icn icon-124"></span>
                        <a>Cadastro de Professor</a>
                    </li>
                    <li style="display: block" id="changeTurma">
                        <span class="icn icon-202"></span>
                        <a ui-sref="trocarTurma">Trocar Turma</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div id="wrap">

        <div class="container dashboard">

            <div class="wrapper-dashboard">

                <div class="row">
                    <!--<div id="Content"></div>-->
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>


</div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../js/utils/objetos.js"></script>
<script type="text/javascript" src="../js/contracts/processados/avaliacao_contract_1417631354587.js"></script>
<script type="text/javascript" src="../js/contracts/processados/endereco_contract_1417631354587.js"></script>
<script type="text/javascript" src="../js/contracts/processados/escola_contract_1417631354587.js"></script>
<script type="text/javascript" src="../js/contracts/processados/turma_contract_1417631354587.js"></script>
<script type="text/javascript" src="../js/contracts/processados/pessoa_contract_1417631354587.js"></script>
<script type="text/javascript" src="../js/business/processados/avaliacao_business_1417631354587.js"></script>
<script type="text/javascript" src="../js/business/processados/endereco_business_1417631354587.js"></script>
<script type="text/javascript" src="../js/business/processados/escola_business_1417631354587.js"></script>
<script type="text/javascript" src="../js/business/processados/turma_business_1417631354587.js"></script>
<script type="text/javascript" src="../js/business/processados/pessoa_business_1417631354587.js"></script>
<script type="text/javascript" src="../js/utils/processados/utilidades_1417631354587.js"></script>
<script type="text/javascript" src="../js/utils/colecoes.js"></script>
<script type="text/javascript" src="../js/utils/processados/eventos_1417631354587.js"></script>
<script type="text/javascript" src="../custom.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script>Parse.initialize("Y9INXMkrMANGt2B8ttXcDLPiRfvNTOMVmHekxXDx", "mSFT9RRrXvwMopXmiPZPCr2wOXnrbbBH8H7ZWBqF");</script>

<script>
    window.onbeforeunload = function (event) {
        if (typeof event == 'undefined') {
            event = window.event;
        }
        if (event) {
            Utils.PersistData();
        }
    };
</script>

</body>
</html>
