<div ng-if="avaliacoes.length == 0">
    <ol class="breadcrumb">
        <li><a ng-click="alterarPagina('dashboard', '#Content')">Dashboard</a></li>
        <li><a ng-click="alterarPagina('listaTurmasHipotese', '#Content')">Turmas</a></li>
        <li class="active">Avaliações</li>
    </ol>
    <h3>Não Existem Avaliações criadas para esta Turma.</h3>
</div>
<div ng-if="avaliacoes.length != 0">
    <ol class="breadcrumb">
        <li><a ng-click="alterarPagina('dashboard', '#Content')">Dashboard</a></li>
        <li><a ng-click="alterarPagina('listaTurmasHipotese', '#Content')">Turmas</a></li>
        <li class="active">Avaliações</li>
    </ol>
    <div class="col-md-4" ng-repeat="avaliacao in avaliacoes">
        <div class="panel easy panel-default drag" ng-click="AVALIACAO.selecionarAvaliacaoHipotese(avaliacao)">
            <div class="panel-heading">{{'Avaliacao Hipotese '+avaliacao.periodo+'ºPeriodo de '+avaliacao.ano}}</div>
            <div class="panel-body">
                {{turmaSelecionada.serie+" "+turmaSelecionada.turma}}
            </div>
        </div>
    </div>
</div>



