<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li class="active">Lançamentos</li>
</ol>
<div class="col-md-4" ng-repeat="turma in turmas">
        <div class="panel easy panel-default drag" ui-sref="avaliacoesHipotese" ng-click="TURMA.selecionarTurmaAvaliacaoHipotese(turma)">
            <div class="panel-heading T{{turma.serie.charAt(0)}}"><h3>{{turma.serie+' '+turma.turma}}</h3></div>
            <div class="panel-body">
                <div><b>Escola:</b> {{turma.Escola.nomeEscola}}</div>
                <div><b>Curso:</b> {{turma.curso}}</div>
                <div><b>Ano da Turma:</b> {{turma.ano}}</div>
                <div><b>Total de Alunos:</b> {{turma.Alunos.length}}</div>
            </div>
        </div>
</div>

