<ol class="breadcrumb">
    <li><a ng-click="alterarPagina('dashboard', '#Content')">Dashboard</a></li>
    <li class="active">Turmas</li>
</ol>
<div class="col-md-4" ng-repeat="turma in turmas">
    <div class="panel easy panel-default drag" ng-click="TURMA.selecionarTurmaAvaliacaoHipotese(turma)">
        <div class="panel-heading">{{turma.serie+' '+turma.turma}}</div>
        <div class="panel-body">
            Aliquam vitae lectus aliquet, cursus nisi idornare, praesent in ultrices ipsum. Curabitur eget mauris semras in imperdiet tortor, sit amet pulvinar.
        </div>
    </div>
</div>

