<div class="container-title">
    <h3 id="titulo-pagina">Visão da Diretoria</h3>
</div>
<div class="container-second">
    <ul class="padding-10 nav nav-pills nav-stacked">
        <li><a ng-click="alterarPagina('')" role="tab" data-toggle="pill"><span class="glyphicon glyphicon-list-alt"></span> Aluno</a></li>
        <li class="active"><a ng-click="alterarPagina('')" role="tab" data-toggle="pill"><span class="glyphicon glyphicon-plus"></span>Turmas</a></li>
        <li><a ng-click="alterarPagina('')" role="tab" data-toggle="pill"><span class="glyphicon glyphicon-plus"></span> Salas</a></li>
        <li><a ng-click="alterarPagina('')" role="tab" data-toggle="pill"><span class="glyphicon glyphicon-plus"></span> Rede</a></li>
    </ul>
</div>