<div class="container-title">
    <h3 id="titulo-pagina">Controle</h3>
</div>
<div class="container-second">
    <ul class="padding-10 nav nav-pills nav-stacked">
        <li class="active"><a ng-click="limparTemplate('tabelaEscola')" role="tab" data-toggle="pill"><span class="glyphicon glyphicon-search"></span> Escola</a></li>
        <li><a ng-click="limparTemplate('tabelaTurma')" role="tab" data-toggle="pill"><span class="glyphicon glyphicon-search"></span> Turma</a></li>
        <li><a ng-click="limparTemplate('tabelaPessoa'); reload(0)" role="tab" data-toggle="pill"><span class="glyphicon glyphicon-search"></span> Aluno</a></li>
    </ul>
</div>