<ol class="breadcrumb">
    <li><a ng-click="alterarPagina('dashboard', '#Content')">Dashboard</a></li>
    <li class="active">Análise de Provas</li>
</ol>
<div class="col-md-4">
    <div class="panel easy panel-default drag" ng-click="">
        <div class="panel-heading THipotese">Hipótese</div>
        <!--<div class="panel-body">-->
            <!--Blablablablablabla-->
        <!--</div>-->
    </div>
</div>

<div class="col-md-4">
    <div class="panel easy panel-default drag" ng-click="">
        <div class="panel-heading TDiagnostica">Diagnóstica</div>
        <!--<div class="panel-body">-->
            <!--Blablablablablabla-->
        <!--</div>-->
    </div>
</div>

<div class="col-md-4">
    <div class="panel easy panel-default drag" ng-click="">
        <div class="panel-heading TFada">FADA</div>
        <!--<div class="panel-body">-->
            <!--Blablablablablabla-->
        <!--</div>-->
    </div>
</div>