<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li><a ui-sref="carometro({idTurma: '{{turmaSelecionada.id}}'})">Carometro</a></li>
    <li><a ui-sref="tiposAvaliacoesAluno({idTurma: '{{turmaSelecionada.id}}'})">Análise de Provas</a></li>
    <li class="active">Evolução</li>
</ol>

<div id="floatingBarsG" style="display: block;">
    <div class="blockG" id="rotateG_01">
    </div>
    <div class="blockG" id="rotateG_02">
    </div>
    <div class="blockG" id="rotateG_03">
    </div>
    <div class="blockG" id="rotateG_04">
    </div>
    <div class="blockG" id="rotateG_05">
    </div>
    <div class="blockG" id="rotateG_06">
    </div>
    <div class="blockG" id="rotateG_07">
    </div>
    <div class="blockG" id="rotateG_08">
    </div>
</div>

<div class="col-md-12" style="overflow: hidden;">
    <div google-chart chart="GraficoEvolucaoHipoteseAluno" id="EvolucaoAluno" style="height:400px; display: none" ></div>
    <div google-chart chart="GraficoEvolucaoHipotese" id="EvolucaoTurma" style="height:400px; display: none"></div>
</div>