<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li><a ui-sref="carometro({idTurma: '{{turmaSelecionada.id}}'})">Carômetro</a></li>
    <li class="active">Análise de Provas</li>
</ol>

<div id="floatingBarsG" style="display: block;">
    <div class="blockG" id="rotateG_01">
    </div>
    <div class="blockG" id="rotateG_02">
    </div>
    <div class="blockG" id="rotateG_03">
    </div>
    <div class="blockG" id="rotateG_04">
    </div>
    <div class="blockG" id="rotateG_05">
    </div>
    <div class="blockG" id="rotateG_06">
    </div>
    <div class="blockG" id="rotateG_07">
    </div>
    <div class="blockG" id="rotateG_08">
    </div>
</div>

<div class="col-md-12" id="tiposAvaliacoes" style="display: none;">

    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <div class="col-md-2">
                <h3 style="padding-top: 10px;">Tipo de Avaliação: </h3>
            </div>
            <div class="col-md-10">
                <div class="btn-group sg-button" style="width: 220px;">
                    <button type="button" class="btn btn-default button-drop-large dropdown-toggle scroll-button" data-toggle="dropdown">
                        {{tipoAvaliacao}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="UTILIDADE.FiltroTipoAvaliacoesAluno(0)">Todas</li>
                        <li ng-click="UTILIDADE.FiltroTipoAvaliacoesAluno(1)">Hipótese</li>
                        <li ng-click="UTILIDADE.FiltroTipoAvaliacoesAluno(2)">Diagnóstica</li>
                        <li ng-click="UTILIDADE.FiltroTipoAvaliacoesAluno(3)">FADA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" style="display: block" id="op1">
        <div class="panel easy panel-default drag">
            <div class="panel-heading TA1">Hipótese</div>
            <div class="avaliacoesCSS" style="padding-bottom: 30px">
                <div class="col-md-12"><a ui-sref="evolucaoAlunoAnalise({idTurma: '{{turmaSelecionada.id}}',idAluno: '{{alunoSelecionado.id}}'})" class="btn btn-primary btn-lg btn-block default large">Análise</a></div>
            </div>
        </div>
    </div>

    <div class="col-md-4" style="display: block" id="op2">
        <div class="panel easy panel-default drag">
            <div class="panel-heading TA2">Diagnóstica</div>
            <div class="avaliacoesCSS" style="padding-bottom: 30px">
                <div class="col-md-12"><a class="btn btn-primary btn-lg btn-block default large">Análise</a></div>
            </div>
        </div>
    </div>

    <div class="col-md-4" style="display: block" id="op3">
        <div class="panel easy panel-default drag">
            <div class="panel-heading TA3">FADA</div>
            <div class="avaliacoesCSS" style="padding-bottom: 30px">
                <div class="col-md-12"><a class="btn btn-primary btn-lg btn-block default large">Análise</a></div>
            </div>
        </div>
    </div>

</div>

<!--<div class="col-md-4">-->
    <!--<div class="panel easy panel-default drag" ng-click="">-->
        <!--<div class="panel-heading TDiagnostica">Diagnóstica</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-md-4">-->
    <!--<div class="panel easy panel-default drag" ng-click="">-->
        <!--<div class="panel-heading TFada">FADA</div>-->
    <!--</div>-->
<!--</div>-->