<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li><a ui-sref="carometro({idTurma: '{{turmaSelecionada.id}}'})">Carometro</a></li>
    <li class="active">Análise de Provas</li>
</ol>
<div class="col-md-4">
    <div class="panel easy panel-default drag" ui-sref="evolucaoAlunoAnalise({idTurma: '{{turmaSelecionada.id}}',idAluno: '{{alunoSelecionado.id}}'})">
        <div class="panel-heading THipotese">Hipótese</div>
    </div>
</div>

<!--<div class="col-md-4">-->
    <!--<div class="panel easy panel-default drag" ng-click="">-->
        <!--<div class="panel-heading TDiagnostica">Diagnóstica</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-md-4">-->
    <!--<div class="panel easy panel-default drag" ng-click="">-->
        <!--<div class="panel-heading TFada">FADA</div>-->
    <!--</div>-->
<!--</div>-->