<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Index</title>

    <script src="../../js/plugins/jquery/jquery-1.11.1.js"></script>
    <script src="../../js/plugins/jquery/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Raleway:100,200,300,400,500,600,700,800,900,200i,300i,400i,500i">

    <!-- Bootstrap core CSS -->
    <link href="../../fonts/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='../../scripts/jquery.prettycheckable/prettycheckable.css' type='text/css' media='screen' />
    <!--<link href='scripts/jquery.tipsy/tipsy.css' rel='stylesheet' type='text/css' />-->
    <link href='../../scripts/jquery.easypiechart/easypiechart.css' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en" ></script>

    <!-- Custom styles for this template -->
    <link href="../../css/style.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
            <img src="../../images/logo.png" alt="" />
            <span id="sidebar-exp"></span>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav navbar-right header-drop-right">
            <li class="dropdown user-dropdown-one">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    John
                    <img src="../../images/user-img.png" alt="" class="img-user" />
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu user-dropdown-two">
                    <li><a href="#">Configurações</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li class="log-out"><a href="#">Log out</a></li>
                </ul>
            </li>
        </ul>

        <!--<ul class="header-notifications pull-right">-->
        <!--<li><a href="#" class="clock"></a></li>-->
        <!--<li><a href="#" class="task"></a></li>-->
        <!--<li class="last">-->
        <!--<a href="#" class="globe"></a>-->
        <!--<span class="lbl">12</span>-->
        <!--</li>-->
        <!--</ul>-->


    </div><!-- /.navbar-collapse -->
</nav>


<div id="wrapper">

    <div id="body-overlay"></div>

    <div id="sidebar">

        <ul class="drop-area">
            <li class="no-back">
                <a href="index.html">Dashboard</a>
            </li>
            <li>
                Tipos de Prova
                <ul>
                    <li>
                        <span class="icn icon-145"></span>
                        <a href="ui-sliders.html">Hipótese</a>
                    </li>
                    <li>
                        <span class="icn icon-145"></span>
                        <a href="buttons.html">Diagnóstica</a>
                    </li>
                    <li>
                        <span class="icn icon-145"></span>
                        <a href="buttons.html">FADA</a>
                    </li>
                </ul>
            </li>
            <li>
                Turmas
                <ul>
                    <li>
                        <span class="icn icon-123"></span>
                        <a href="ui-sliders.html">1º Ano A</a>
                    </li>
                    <li>
                        <span class="icn icon-123"></span>
                        <a href="buttons.html">2º Ano A</a>
                    </li>
                </ul>
            </li>
            <li>
                Alunos
                <ul>
                    <li>
                        <span class="icn icon-123"></span>
                        <a href="ui-sliders.html">1º Ano A</a>
                    </li>
                    <li>
                        <span class="icn icon-123"></span>
                        <a href="buttons.html">2º Ano A</a>
                    </li>
                </ul>
            </li>
            <li>
                Administrativo
                <ul>
                    <li style="display: block" id="noPermissionM">
                        <a href="ui-sliders.html">Não possui permissão para essa área.</a>
                    </li>
                    <li style="display: none" id="cadEscola">
                        <span class="icn icon-190"></span>
                        <a href="ui-sliders.html">Cadastro de Escola</a>
                    </li>
                    <li style="display: none" id="cadTurma">
                        <span class="icn icon-123"></span>
                        <a href="buttons.html">Cadastro de Turma</a>
                    </li>
                    <li style="display: none" id="cadAluno">
                        <span class="icn icon-124"></span>
                        <a href="buttons.html">Cadastro de Aluno</a>
                    </li>
                    <li style="display: none" id="cadProfessor">
                        <span class="icn icon-124"></span>
                        <a href="buttons.html">Cadastro de Professor</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div id="wrap">

        <div class="container dashboard">

            <div class="wrapper-dashboard">

            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type='text/javascript' src='../../scripts/jquery.prettycheckable/prettycheckable.js'></script>
<script type="text/javascript" src="../../scripts/jquery.easypiechart/jquery.easypiechart.js"></script>
<script type="text/javascript" src="../../scripts/jquery.gmap/gmap3.js"></script>
<script type="text/javascript" src="../../js/plugins/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../js/plugins/jquery/jquery.mask.min.js"></script>
<script type="text/javascript" src="../../js/plugins/parse-1.3.0.min.js"></script>
<script type="text/javascript" src="../../js/plugins/toastr/2.0.1/toastr.js"></script>
<script type="text/javascript" src="../../js/plugins/angular/angular.js"></script>
<script type="text/javascript" src="../../js/utils/objetos.js"></script>
<script type="text/javascript" src="../../js/business/endereco/endereco_business.js"></script>
<script type="text/javascript" src="../../js/business/escola/escola_business.js"></script>
<script type="text/javascript" src="../../js/business/turma/turma_business.js"></script>
<script type="text/javascript" src="../../js/business/pessoa/pessoa_business.js"></script>
<script type="text/javascript" src="../../js/contracts/endereco_contract.js"></script>
<script type="text/javascript" src="../../js/contracts/escola_contract.js"></script>
<script type="text/javascript" src="../../js/contracts/turma_contract.js"></script>
<script type="text/javascript" src="../../js/contracts/pessoa_contract.js"></script>
<script type="text/javascript" src="../../js/utils/utilidades.js"></script>
<script type="text/javascript" src="../../js/utils/colecoes.js"></script>
<script type="text/javascript" src="../../js/utils/eventos.js"></script>
<!--<script src="../../custom.js"></script>-->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script>Parse.initialize("Y9INXMkrMANGt2B8ttXcDLPiRfvNTOMVmHekxXDx", "mSFT9RRrXvwMopXmiPZPCr2wOXnrbbBH8H7ZWBqF");</script>
<!-- @echo templates -->
</body>
</html>
