<!DOCTYPE html>
<html ng-app="provasApp">
<head lang="pt-BR">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Index</title>

    <script type="text/javascript" src="../../js/plugins/jquery/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../../js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.prettycheckable/prettycheckable.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.easypiechart/jquery.easypiechart.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.gmap/gmap3.js"></script>
    <script type="text/javascript" src="../../js/plugins/jquery/jquery.mask.min.js"></script>
    <script type="text/javascript" src="../../js/plugins/parse-1.3.0.min.js"></script>
    <script type="text/javascript" src="../../js/plugins/toastr/2.0.1/toastr.js"></script>
    <script type="text/javascript" src="../../js/plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../js/plugins/angular-min/angular-route.min.js"></script>
    <script type="text/javascript" src="../../js/utils/routeController.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../fonts/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='../../scripts/jquery.prettycheckable/prettycheckable.css' rel='stylesheet' type='text/css' />
    <!--<link href='scripts/jquery.tipsy/tipsy.css' rel='stylesheet' type='text/css' />-->
    <link href='../../scripts/jquery.easypiechart/easypiechart.css' rel='stylesheet' type='text/css' />
    <link href='../../scripts/jquery.toggles/toggles.css' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en" ></script>

    <!-- Custom styles for this template -->
    <link href="../../css/style.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="alterarPagina('dashboard', '#Content')">
            <h1 class="logo">Mais<span class="logo2">Avalia</span></h1>
            <!--<img src="../../images/logo.png" alt="" />-->
            <span id="sidebar-exp"></span>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav navbar-right header-drop-right" style="margin-right: 0px;">
            <li class="dropdown user-dropdown-one">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{usuarioLogado.nome}}
                    <img src="{{usuarioLogado.urlPicture}}" alt="" class="img-user" style="height: 58px;"/>
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu user-dropdown-two">
                    <li><a href="#">Configurações</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li class="log-out"><a href="#">Log out</a></li>
                </ul>
            </li>
        </ul>

    </div><!-- /.navbar-collapse -->
</nav>

<div id="wrapper">

    <div id="body-overlay"></div>

    <div id="sidebar">

        <ul class="drop-area">
            <li class="no-back">
                <!--<a href="#/dashboard">Dashboard</a>-->
                <a ui-sref="dashboard">Dashboard</a>
            </li>
            <li>
                Lançamentos
                <ul>
                    <li>
                        <span class="icn icon-145"></span>
                        <a ng-click="alterarPagina('listaTurmasHipotese', '#Content')">Hipótese</a>
                    </li>
                    <!--<li>-->
                    <!--<span class="icn icon-145"></span>-->
                    <!--<a ng-click="alterarPagina('dashboard', '#Content')">Diagnóstica</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<span class="icn icon-145"></span>-->
                    <!--<a ng-click="alterarPagina('dashboard', '#Content')">FADA</a>-->
                    <!--</li>-->
                </ul>
            </li>
            <li>
                Análise de Provas
                <ul>
                    <li class="ng-scope" ng-repeat="turma in turmas">
                        <span class="icn icon-123"></span>
                        <a ng-click="alterarPagina('tiposAvaliacoes', '#Content')">{{turma.serie+' '+turma.turma}}</a>
                    </li>
                </ul>
            </li>
            <li>
                Análise de Alunos
                <ul>
                    <li class="ng-scope" ng-repeat="turma in turmas">
                        <span class="icn icon-123"></span>
                        <!--<a ng-click="TURMA.selecionarTurmaCarometro(turma)">{{turma.serie+' '+turma.turma}}</a>-->
                        <!--<a href="#/carometro" ng-click="TURMA.selecionarTurmaCarometro(turma)">{{turma.serie+' '+turma.turma}}</a>-->
                        <a ui-sref="carometro" ng-click="TURMA.selecionarTurmaCarometro(turma)">{{turma.serie+' '+turma.turma}}</a>
                    </li>
                </ul>
            </li>
            <li>
                Administrativo
                <ul>
                    <li style="display: block" id="noPermissionM">
                        <a>Não possui permissão para essa área.</a>
                    </li>
                    <li style="display: none" id="cadEscola">
                        <span class="icn icon-190"></span>
                        <a>Cadastro de Escola</a>
                    </li>
                    <li style="display: none" id="cadTurma">
                        <span class="icn icon-123"></span>
                        <a>Cadastro de Turma</a>
                    </li>
                    <li style="display: none" id="cadAluno">
                        <span class="icn icon-124"></span>
                        <a>Cadastro de Aluno</a>
                    </li>
                    <li style="display: none" id="cadProfessor">
                        <span class="icn icon-124"></span>
                        <a>Cadastro de Professor</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div id="wrap">

        <div class="container dashboard">

            <div class="wrapper-dashboard">

                <div class="row">
                    <!--<div id="Content"></div>-->
                    <div class="main" ui-view></div>
                </div>
            </div>
        </div>
    </div>


</div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="../../js/utils/objetos.js"></script>
<script type="text/javascript" src="../../js/contracts/avaliacao_contract.js"></script>
<script type="text/javascript" src="../../js/contracts/endereco_contract.js"></script>
<script type="text/javascript" src="../../js/contracts/escola_contract.js"></script>
<script type="text/javascript" src="../../js/contracts/turma_contract.js"></script>
<script type="text/javascript" src="../../js/contracts/pessoa_contract.js"></script>
<script type="text/javascript" src="../../js/business/avaliacao/avaliacao_business.js"></script>
<script type="text/javascript" src="../../js/business/endereco/endereco_business.js"></script>
<script type="text/javascript" src="../../js/business/escola/escola_business.js"></script>
<script type="text/javascript" src="../../js/business/turma/turma_business.js"></script>
<script type="text/javascript" src="../../js/business/pessoa/pessoa_business.js"></script>
<script type="text/javascript" src="../../js/utils/utilidades.js"></script>
<script type="text/javascript" src="../../js/utils/colecoes.js"></script>
<script type="text/javascript" src="../../js/utils/eventos.js"></script>
<script src="../../custom.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script>
    window.onbeforeunload = function (event) {
        if ((window.event.clientX < 0) || (window.event.clientY < 0) || (window.event.clientX < -80)) {
            alert("CLOSED");
        }  else{
            alert("REFRESH")
        }
    };
</script>
<script>Parse.initialize("Y9INXMkrMANGt2B8ttXcDLPiRfvNTOMVmHekxXDx", "mSFT9RRrXvwMopXmiPZPCr2wOXnrbbBH8H7ZWBqF");</script>
<!-- @echo templates -->
</body>
</html>
