<ol class="breadcrumb col-md-12">
    <li><a ui-sref="avaliacoesHipotese({idTurma: '{{turmaSelecionada.id}}'})">Lançamentos</a></li>
    <li class="active">{{'Avaliacao Hipotese '+avaliacaoSelecionada.periodo+'ºPeriodo de '+avaliacaoSelecionada.ano}}</li>
</ol>

<div id="floatingBarsG" style="display: block;">
    <div class="blockG" id="rotateG_01">
    </div>
    <div class="blockG" id="rotateG_02">
    </div>
    <div class="blockG" id="rotateG_03">
    </div>
    <div class="blockG" id="rotateG_04">
    </div>
    <div class="blockG" id="rotateG_05">
    </div>
    <div class="blockG" id="rotateG_06">
    </div>
    <div class="blockG" id="rotateG_07">
    </div>
    <div class="blockG" id="rotateG_08">
    </div>
</div>

<div class="col-md-12" style="display: none;" id="avaliacaoHipotese">
    <div>
        <div class="col-md-7" style="background-color: #fff;">
            <div><h1>Hipótese de Escrita</h1></div>
            <div style="margin: -15px 0 0 0">
                <ul class="wrap-check">
                    <li>
                        <div>
                            <input disabled id="chkbx1" ng-click="AVALIACAO.updateChange()" ng-change="UTILIDADE.validarUnico(respostaAvaliacaoHipotese.nivelHipotese)" ng-model="respostaAvaliacaoHipotese.nivelHipotese" ng-true-value="5" ng-false-value="" type="checkbox" style="width: 95px; height: 95px;vertical-align: bottom;position: relative;top: 15px;overflow: hidden;"/>
                            <label><h2 data-toggle="modal" data-target="#myModal1">Alfabético</h2></label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input disabled id="chkbx2" ng-click="AVALIACAO.updateChange()" ng-change="UTILIDADE.validarUnico(respostaAvaliacaoHipotese.nivelHipotese)" ng-model="respostaAvaliacaoHipotese.nivelHipotese" ng-true-value="4" ng-false-value="" type="checkbox" style="width: 95px; height: 95px;vertical-align: bottom;position: relative;top: 15px;overflow: hidden;"/>
                            <label><h2 data-toggle="modal" data-target="#myModal2">Silábico-Alfabético</h2></label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input disabled id="chkbx3" ng-click="AVALIACAO.updateChange()" ng-change="UTILIDADE.validarUnico(respostaAvaliacaoHipotese.nivelHipotese)" ng-model="respostaAvaliacaoHipotese.nivelHipotese" ng-true-value="3" ng-false-value="" type="checkbox" style="width: 95px; height: 95px;vertical-align: bottom;position: relative;top: 15px;overflow: hidden;"/>
                            <label><h2 data-toggle="modal" data-target="#myModal3">Silábico com Valor</h2></label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input disabled id="chkbx4" ng-click="AVALIACAO.updateChange()" ng-change="UTILIDADE.validarUnico(respostaAvaliacaoHipotese.nivelHipotese)" ng-model="respostaAvaliacaoHipotese.nivelHipotese" ng-true-value="2" ng-false-value="" type="checkbox" style="width: 95px; height: 95px;vertical-align: bottom;position: relative;top: 15px;overflow: hidden;"/>
                            <label><h2 data-toggle="modal" data-target="#myModal4">Silábico sem Valor</h2></label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input disabled id="chkbx5" ng-click="AVALIACAO.updateChange()" ng-change="UTILIDADE.validarUnico(respostaAvaliacaoHipotese.nivelHipotese)" ng-model="respostaAvaliacaoHipotese.nivelHipotese" ng-true-value="1" ng-false-value="" type="checkbox" style="width: 95px; height: 95px;vertical-align: bottom;position: relative;top: 15px;overflow: hidden;"/>
                            <label><h2 data-toggle="modal" data-target="#myModal5">Pré-Silábico</h2></label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <!--<div><a href="#" class="btn btn-primary btn-lg btn-block blue large">Análise da Avaliação</a></div>-->

            <div class="flex-container" style="overflow: hidden; padding-bottom: 3%;background-color: #fff;">
                <div class="flex-item"><a ng-click="AVALIACAO.goToFirst()" class="btn default middle" style="height: 65px; width: 100%;"><h2 style="margin: 8px 0 0 0px;"><<</h2></a></div>
                <div class="flex-item"><a ng-click="AVALIACAO.goToPrior()" class="btn default middle" style="height: 65px; width: 100%;"><h2 style="margin: 8px 0 0 0px;"><</h2></a></div>
                <div class="flex-item"><h2 style="width: 100%; margin: 0">{{(indiceAluno+1)+"/"+turmaSelecionada.Alunos.length}}</h2></div>
                <div class="flex-item"><a ng-click="AVALIACAO.goToNext()" class="btn default middle" style="height: 65px; width: 100%;"><h2 style="margin: 8px 0 0 0px;">></h2></a></div>
                <div class="flex-item"><a ng-click="AVALIACAO.goToLast()" class="btn default middle" style="height: 65px; width: 100%;"><h2 style="margin: 8px 0 0 0px;">>></h2></a></div>
            </div>

            <div class="progress" style="margin-bottom: 0px">
                <h4 style="text-align: center; color: #fff">Progesso da Avaliação</h4>
                <div id="avaliaProgress" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%; margin-top: -36px">
                    <span class="sr-only">100% Complete</span>
                </div>
            </div>

            <div><a disabled id="fecharAvaliacao" class="btn btn-primary btn-lg btn-block blue large" data-toggle="modal" data-target="#modalConfirmacao" ng-click="AVALIACAO.fecharAvaliacao()">Fechar Avaliação</a></div>

            <div style="background-color: #fff;">
                <div style="padding: 5% 34%;">
                    <img src="{{alunoSelecionadoHipotese.imagem}}" style="height: 150px; width: 150px; border-radius: 3px">
                </div>
                <div>
                    <div style="padding: 5% 0 3% 5%;"><b>Nome:</b>{{alunoSelecionadoHipotese.nome}}</div>
                    <div style="padding: 0 0 5% 5%;"><b>Data:</b>{{alunoSelecionadoHipotese.dataNascimento}}</div>
                </div>
            </div>

            <!--<div style="border: 1px solid #cccccc; margin-top: 3%">-->
            <!--<div style="padding: 0 0 0% 34%;"><b>Observação do Aluno:</b></div>-->
            <!--<div style="border: 1px solid #cccccc; margin: 5%; height: 100px"></div>-->
            <!--</div>-->
        </div>
    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Alfabético</h4>
                </div>
                <div class="modal-body">
                    Neste estágio, o aluno já compreendeu o sistema de escrita, entendendo que cada um dos caracteres da palavra corresponde a um valor sonoro menor do que a sílaba e também domina as convenções ortográficas.
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Silábico-Alfabético</h4>
                </div>
                <div class="modal-body">
                    Este nível marca a transição do aluno da hipótese silábica para a hipótese alfabética. Ora ela escreve atribuindo a cada sílaba uma letra, ora representando as unidades sonoras menores, os fonemas.
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Silábico com Valor</h4>
                </div>
                <div class="modal-body">
                    Cada letra corresponde a uma sílaba falada e o que se escreve tem correspondência com o som convencional daquela sílaba, em geral representada pela vogal, mas não exclusivamente. A leitura é silabada.
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Silábico sem Valor</h4>
                </div>
                <div class="modal-body">
                    Cada letra ou símbolo corresponde a uma sílaba falada, mas o que se escreve ainda não tem correspondência com o som convencional daquela sílaba. A leitura é silabada.
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Pré-Silábico</h4>
                </div>
                <div class="modal-body">
                    O aluno diferencia desenhos (que não podem ser lidos) de “escritos” (que podem ser lidos), mesmo que sejam compostos por grafismos, símbolos ou letras. A leitura que realiza do escrito é sempre global, com o dedo deslizando por todo o registro escrito.
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top: -130px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmação de Fechamento</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="porcentagem < 100">
                        <span>Os alunos listados abaixo possuem lançamento pendente:</span>

                        <div style="position: relative; height: 225px;">
                            <table st-table="rowCollection" class="table table-striped" style="margin-bottom: 0px !important;">
                                <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>RA</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="dado in DataGrid2">
                                    <td>{{dado.Nome}}</td>
                                    <td>{{dado.RA}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <ul class="pagination text-right">
                                <li id="pager0" ng-click="AVALIACAO.paginaSelecionadaFechamento(0)" class="active">
                                    <a>1</a>
                                </li>
                                <li id="pager{{$index+1}}" ng-click="AVALIACAO.paginaSelecionadaFechamento({{$index+1}})">
                                    <a>{{$index+2}}</a>
                                </li>
                            </ul>
                        </div>
                        <div style="border-top: 1px solid #DDDDDD; padding-top: 15px">
                            <span>Deseja realizar o fechamento desta Avaliação?</span>
                            <a data-dismiss="modal" ng-click="AVALIACAO.confirmarAvaliacao()" class="btn btn-primary btn-lg btn-block default large" style="margin-top: 15px">Confirmar</a>
                            <a data-dismiss="modal" class="btn btn-primary btn-lg btn-block default large">Cancelar</a>
                        </div>
                    </div>
                    <div ng-if="porcentagem == 100">
                        <span>Após concluir o fechamento os lançamentos não estarão disponíveis para modificações.Deseja realizar o fechamento desta Avaliação?</span>
                        <a data-dismiss="modal" ng-click="AVALIACAO.confirmarAvaliacao()" class="btn btn-primary btn-lg btn-block default large" style="margin-top: 15px">Confirmar</a>
                        <a data-dismiss="modal" class="btn btn-primary btn-lg btn-block default large" >Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>