<ol class="breadcrumb col-md-12">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li class="active">Lançamentos</li>
</ol>

<div id="floatingBarsG" style="display: block;">
    <div class="blockG" id="rotateG_01">
    </div>
    <div class="blockG" id="rotateG_02">
    </div>
    <div class="blockG" id="rotateG_03">
    </div>
    <div class="blockG" id="rotateG_04">
    </div>
    <div class="blockG" id="rotateG_05">
    </div>
    <div class="blockG" id="rotateG_06">
    </div>
    <div class="blockG" id="rotateG_07">
    </div>
    <div class="blockG" id="rotateG_08">
    </div>
</div>

<div class="col-md-12" style="display: none;" id="listaAvaliacoesHipotese">
    <div ng-if="avaliacoes.length == 0">
        <div class="col-md-12">
            <h3>Não Existem Avaliações criadas para esta Turma.</h3>
        </div>
    </div>
    <div ng-if="avaliacoes.length != 0">

        <div class="row" style="margin-bottom: 15px">
            <div class="col-md-12">
                <div class="col-md-2">
                    <h3 style="padding-top: 10px;">Tipo de Avaliação: </h3>
                </div>
                <div class="col-md-10">
                    <div class="btn-group sg-button" style="width: 220px;">
                        <button type="button" class="btn btn-default button-drop-large dropdown-toggle scroll-button" data-toggle="dropdown">
                            {{tipoAvaliacao}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-click="AVALIACAO.filtroTipoAvaliacao(0)">Todas</li>
                            <li ng-click="AVALIACAO.filtroTipoAvaliacao(1)">Hipótese</li>
                            <li ng-click="AVALIACAO.filtroTipoAvaliacao(2)">Diagnóstica</li>
                            <li ng-click="AVALIACAO.filtroTipoAvaliacao(3)">FADA</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-2">-->
            <!--<h3 style="float: left; padding-top: 10px;">Tipo Série: </h3>-->
            <!--</div>-->
            <!--<button type="button" class="btn btn-default button-drop-large dropdown-toggle scroll-button" data-toggle="dropdown" style="width: 250px !important;">-->
            <!--{{tipoAvaliacao}} <span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu scroll-block" role="menu">-->
            <!--<li ng-click="AVALIACAO.filtroTipoAvaliacao(0)">Todas</li>-->
            <!--<li ng-click="AVALIACAO.filtroTipoAvaliacao(1)">Hipótese</li>-->
            <!--<li ng-click="AVALIACAO.filtroTipoAvaliacao(2)">Diagnóstica</li>-->
            <!--<li ng-click="AVALIACAO.filtroTipoAvaliacao(3)">FADA</li>-->
            <!--</ul>-->
        </div>
    </div>
    <div class="col-md-4" ng-repeat="avaliacao in avaliacoes">
        <div class="panel easy panel-default drag">
            <div  ng-if="avaliacao.tipoAvaliacao == 1" class="panel-heading TA{{avaliacao.tipoAvaliacao}}">Hipotese - {{'Avaliacao '+avaliacao.periodo+'ºPeriodo de '+avaliacao.ano}}</div>
            <div  ng-if="avaliacao.tipoAvaliacao == 2" class="panel-heading TA{{avaliacao.tipoAvaliacao}}">Diagnostica - {{'Avaliacao '+avaliacao.periodo+'ºPeriodo de '+avaliacao.ano}}</div>
            <div  ng-if="avaliacao.tipoAvaliacao == 3" class="panel-heading TA{{avaliacao.tipoAvaliacao}}">FADA - {{'Avaliacao '+avaliacao.periodo+'ºPeriodo de '+avaliacao.ano}}</div>
            <div class="avaliacoesCSS">
                <div class="col-md-6" ng-if="avaliacao.tipoAvaliacao == 1"><a ui-sref="avaliacaoHipotese({idTurma: '{{turmaSelecionada.id}}', idAvaliacao: '{{avaliacao.id}}'})" ng-click="AVALIACAO.selecionarAvaliacaoHipotese(avaliacao)" class="btn btn-primary btn-lg btn-block default large">Lançar</a></div>
                <div class="col-md-6" ng-if="avaliacao.tipoAvaliacao == 1"><a ui-sref="avaliacaoAnalise({idTurma: '{{turmaSelecionada.id}}', idAvaliacao: '{{avaliacao.id}}'})" class="btn btn-primary btn-lg btn-block default large">Análise</a></div>

                <div class="col-md-6" ng-if="avaliacao.tipoAvaliacao == 2"><a ng-click="" class="btn btn-primary btn-lg btn-block default large">Lançar</a></div>
                <div class="col-md-6" ng-if="avaliacao.tipoAvaliacao == 2"><a class="btn btn-primary btn-lg btn-block default large">Análise</a></div>

                <div class="col-md-6" ng-if="avaliacao.tipoAvaliacao == 3"><a ng-click="" class="btn btn-primary btn-lg btn-block default large">Lançar</a></div>
                <div class="col-md-6" ng-if="avaliacao.tipoAvaliacao == 3"><a class="btn btn-primary btn-lg btn-block default large">Análise</a></div>
            </div>
        </div>
    </div>
</div>



