<ol class="breadcrumb col-md-12">
    <li class="active">Lançamentos</li>
</ol>

<div id="floatingBarsG" style="display: block;">
    <div class="blockG" id="rotateG_01">
    </div>
    <div class="blockG" id="rotateG_02">
    </div>
    <div class="blockG" id="rotateG_03">
    </div>
    <div class="blockG" id="rotateG_04">
    </div>
    <div class="blockG" id="rotateG_05">
    </div>
    <div class="blockG" id="rotateG_06">
    </div>
    <div class="blockG" id="rotateG_07">
    </div>
    <div class="blockG" id="rotateG_08">
    </div>
</div>


<div class="col-md-12" style="display: none;" id="tiposAvaliacoes">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <div class="col-md-2">
                <h3 style="padding-top: 10px;">Tipo de Avaliação: </h3>
            </div>
            <div class="col-md-10">
                <div class="btn-group sg-button" style="width: 220px; margin-left: -45px">
                    <button type="button" class="btn btn-default button-drop-large dropdown-toggle scroll-button" data-toggle="dropdown">
                        {{tipoAvaliacao}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="AVALIACAO.filtroTipoAvaliacao(0)">Todas</li>
                        <li ng-click="AVALIACAO.filtroTipoAvaliacao(1)">Hipótese</li>
                        <li ng-click="AVALIACAO.filtroTipoAvaliacao(2)">Diagnóstica</li>
                        <li ng-click="AVALIACAO.filtroTipoAvaliacao(3)">FADA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="panel easy panel-default drag">
        <div class="panel-heading THipotese">Hipótese</div>
        <div class="avaliacoesCSS">
            <div class="col-md-6"><a ui-sref="avaliacoesHipotese({idTurma: '{{turmaSelecionada.id}}'})" class="btn btn-primary btn-lg btn-block default large">Análise</a></div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel easy panel-default drag" ng-click="">
            <div class="panel-heading TDiagnostica">Diagnóstica</div>
            <div class="avaliacoesCSS">
                <div class="col-md-6"><a ui-sref="" class="btn btn-primary btn-lg btn-block default large">Análise</a></div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel easy panel-default drag" ng-click="">
            <div class="panel-heading TFada">FADA</div>
            <div class="avaliacoesCSS">
                <div class="col-md-6"><a ui-sref="" class="btn btn-primary btn-lg btn-block default large">Análise</a></div>
            </div>
        </div>
    </div>
</div>

