<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li class="active">Lançamentos</li>
</ol>

<div id="floatingBarsG" style="display: block;">
    <div class="blockG" id="rotateG_01">
    </div>
    <div class="blockG" id="rotateG_02">
    </div>
    <div class="blockG" id="rotateG_03">
    </div>
    <div class="blockG" id="rotateG_04">
    </div>
    <div class="blockG" id="rotateG_05">
    </div>
    <div class="blockG" id="rotateG_06">
    </div>
    <div class="blockG" id="rotateG_07">
    </div>
    <div class="blockG" id="rotateG_08">
    </div>
</div>

<div class="col-md-4" style="display: none;" id="tiposAvaliacoes">
    <div class="panel easy panel-default drag" ui-sref="avaliacoesHipotese({idTurma: '{{turmaSelecionada.id}}'})">
        <div class="panel-heading THipotese">Hipótese</div>
    </div>
</div>

<!--<div class="col-md-4">-->
    <!--<div class="panel easy panel-default drag" ng-click="">-->
        <!--<div class="panel-heading TDiagnostica">Diagnóstica</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-md-4">-->
    <!--<div class="panel easy panel-default drag" ng-click="">-->
        <!--<div class="panel-heading TFada">FADA</div>-->
    <!--</div>-->
<!--</div>-->