<ol class="breadcrumb">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li><a ui-sref="tiposAvaliacoes({idTurma: '{{turmaSelecionada.id}}'})">Análise de Provas</a></li>
    <li class="active">Evolução</li>
</ol>

<div id="floatingBarsG" style="display: block;">
    <div class="blockG" id="rotateG_01">
    </div>
    <div class="blockG" id="rotateG_02">
    </div>
    <div class="blockG" id="rotateG_03">
    </div>
    <div class="blockG" id="rotateG_04">
    </div>
    <div class="blockG" id="rotateG_05">
    </div>
    <div class="blockG" id="rotateG_06">
    </div>
    <div class="blockG" id="rotateG_07">
    </div>
    <div class="blockG" id="rotateG_08">
    </div>
</div>

<div style="display: none;" id="evolucaoHipotese">
    <div ng-if="dadosAnaliseAvaliacao.length == 0">
        <div class="col-md-12">
            <h3>Não Existem Resultados para esta Turma.</h3>
        </div>
    </div>
    <div>
        <div ng-if="dadosAnaliseAvaliacao.length != 0" class="col-md-12" style="overflow: hidden;">
            <div google-chart chart="GraficoEvolucaoHipotese" style="height:400px;"></div>
        </div>
    </div>
</div>
