<ol class="breadcrumb col-md-12">
    <li class="active">Dashboard</li>
</ol>

<div id="floatingBarsG" style="display: block;">
    <div class="blockG" id="rotateG_01">
    </div>
    <div class="blockG" id="rotateG_02">
    </div>
    <div class="blockG" id="rotateG_03">
    </div>
    <div class="blockG" id="rotateG_04">
    </div>
    <div class="blockG" id="rotateG_05">
    </div>
    <div class="blockG" id="rotateG_06">
    </div>
    <div class="blockG" id="rotateG_07">
    </div>
    <div class="blockG" id="rotateG_08">
    </div>
</div>

<div class="col-md-12" style="display: none;" id="dashboard">
    <div ng-if="dadosAnaliseAvaliacao.length == 0">
        <div class="col-md-12">
            <h3>Não Existem Resultados para esta Turma.</h3>
        </div>
    </div>
    <div>
        <div ng-if="dadosAnaliseAvaliacao.length != 0" class="panel easy panel-default drag">

            <div class="panel-heading T{{turmaSelecionada.serie.charAt(0)}}" style="width: 100%"><h3>{{turmaSelecionada.serie+' '+turmaSelecionada.turma}}</h3></div>
            <div class="panel-body" style="width: 100% !important">
                <div style="float: left; margin: 0 0 0 5%; font-size: 22px;"><b>Escola:</b> {{turmaSelecionada.Escola.nomeEscola}}</div>
                <div style="font-size: 22px; margin: 0 5% 0 65%;"><b>Curso:</b> {{turmaSelecionada.curso}}</div>
                <div style="float: left; margin: 0 0 0 5%; font-size: 22px;"><b>Ano da Turma:</b> {{turmaSelecionada.ano}}</div>
                <div style="font-size: 22px; margin: 0 5% 0 65%;"><b>Total de Alunos:</b> {{turmaSelecionada.Alunos.length}}</div>

                <div class="col-md-12" style="overflow: hidden; width: 100%; background: #fff">
                    <br/>
                    <div google-chart chart="GraficoEvolucaoHipotese" style="height:400px;"></div>
                    <div style="margin-top: 30px; position: relative">
                        <table st-table="rowCollection" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Período</th>
                                <th>Alfabético</th>
                                <th>Silábico-Alfabético</th>
                                <th>Silábico com Valor</th>
                                <th>Silábico sem Valor</th>
                                <th>Silábico</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dado in dadosBruto">
                                <td>{{dado[0].periodo}}</td>
                                <td>{{dado[0].total}}</td>
                                <td>{{dado[1].total}}</td>
                                <td>{{dado[2].total}}</td>
                                <td>{{dado[3].total}}</td>
                                <td>{{dado[4].total}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
